@font-face {
    font-family:"Myriad Pro";    
    src: url("../font/MyriadPro-Regular.woff") format('woff');
	font-weight: normal;
    font-style: normal;	
}
body {
    padding: 0;
    margin: 0;
    font-family: "Myriad Pro", Arial, sans-serif;
}
.container {
    max-width: 1024px;
    margin: 0 auto; 
}
.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
.logo {   
    float: left;
    font-size: 42px;
    line-height: 88px;
    margin-left: 27px;
}
.img_logo {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: inline-block;
    background-color: #5094f2;
    background-image: url(../img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;   
    vertical-align: top;
	margin-top: 20px;	
}
.logo p {
	margin: 0;
    display: inline-block;    
}
.nav {
    float: right; 
    margin-right: 27px; 
}
.main_nav {
    margin: 0; 
    padding: 0;     
}
.main_nav li {
    display: inline-block;
    list-style-type: none;     
}
.main_nav li a {
    display: block;
    color: #6c6c6c;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 15px;
    border-bottom: 3px solid transparent; 
	line-height: 88px;	
}
.main_nav li a:hover {
    color: #5094f2;
    border-color:#5094f2;
    background-color: #f5f5f5;
}
.title {
    background-image: url(../img/fon.png);    
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;    
    margin-bottom: 57px;
}
.title_img {    
    display: inline-block;
    vertical-align: top;
}
.title_img img {
    margin: 38px 103px 0 64px;
}
.title_text {
    display: inline-block;
    vertical-align: top;
    color: #fff;
}
.title_text h2 {
    margin: 0;
    margin-top: 139px;
    font-size: 42px;
    font-weight: normal;
    line-height: 45px;
}
.title_text p {
    margin: 0;
    font-size: 26px;
    line-height: 45px;    
}
.button {    
    background-color: #5094f2;
	color: #fff;
	border-radius: 4px;	
    width: 150px;
    margin-left: 12px;	
	text-decoration: none;
	text-align: right;		
	font-size: 22px;
    margin-top: 22px;
    background-image: url(../img/shape.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;
    display: block;
	padding: 10px 20px;
    margin-bottom: 129px;
}
.services {
    margin-bottom: 90px;
}
.services_item	{
	width: 256px;
	display: inline-block;
    text-align: center;
    color: #909090;     
}
.services_item span {
    width: 186px;
    height: 186px;
    border-radius: 50%;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    }
.services_item:first-child span {
    background-color: #5094f2;
    background-image: url(../img/icon1.png);       
}  
.services_item:nth-child(2) span {
    background-color: #d94748;
    background-image: url(../img/icon2.png);       
}  
.services_item:last-child span {
    background-color: #ebbb11;
    background-image: url(../img/icon3.png);       
}  
.services_item h3 {
    font-size: 20px;
    color: #5094f2;
    margin-top: 27px;
    margin-bottom: 5px; 
    font-weight: normal;       
}
.services_item p {
    margin: 0;    
    font-size: 14px;    
    line-height: 1.55em;    
} 
.services_item:first-child {
    margin-left: 20px;
}
.services_item:nth-child(2) {
	margin-left: 100px;
}
.services_item:last-child {
    margin-left: 100px;
}
.hopping {
    margin-bottom: 60px;
}
.hopping h2 {
    margin: 0;
    margin-left: 50px;
    font-size: 42px;
    color: #6f7173; 
    font-weight: normal;     
}
.hopping_img {
    display: inline-block;
    vertical-align: top;
}
.hopping_img img {
    margin: 28px 95px 0 50px;
}
.hopping_text {
    width: 463px;
    display: inline-block;
    vertical-align: top;
    color: #909090;
}
.hopping_text h3 { 
    margin: 0;       
    font-size: 26px;    
    line-height: 36px;
    font-weight: normal;    
}
.hopping_text p {
    font-size: 15px;
    line-height: 37px;    
}
.footer {
    border-top: 1px solid #e5e5e5;    
}
.copyright {    
    font-size: 15px;
    color: #909090;
    line-height: 52px;
    text-align: center;    
}
.copyright a {
    color: #909090;
    text-decoration: none;
}